.main {
  &-header {
    position: relative;
  }
  &-article {
    min-height: 100vh;
  }
}

.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  &__base {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  }
  &__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
  }
  &__front {
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);

  }
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
}